@font-face {
    font-family: 'MiFuente';
    src: url('../../fonts/miFuente.ttf') format('truetype');
}
@font-face {
    font-family: 'MiFuente2';
    src: url('../../fonts/CODE_Bold.otf') format('truetype');
}



.divForm{
    display: flex;
    justify-content: center; 
}

.form{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-top: 14%;
    margin-left: 10px;
    width: 350px;
    height: 480px;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
    opacity: 1;
    
}

.divDivs{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin: 50px;
}

.divDiv{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 350px;
    height: 75px;
    margin-top: 10px;
    margin-right: -60px;
    margin-left: -60px;
}


.label{
    width: 90px;
    color: rgb(0, 0, 0);
    margin:3px;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-family: 'MiFuente2', sans-serif ;
    letter-spacing: 1px;
}
.label2{
    width: 140px;
    color: rgb(0, 0, 0);
    margin:3px;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-family: 'MiFuente2', sans-serif ;
    letter-spacing: 1px;
}
.divDivs2{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin: 100px;
    background-color: greenyellow;
    border-radius: 5px;
}

.p{
    padding: 0px;
    color: rgb(134, 1, 1);
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-family: 'MiFuente', sans-serif ;
    margin-top: 4px;
}

.input{
    border-radius: 0px;
    border: 1px solid black;
    font-size: 16px;
    width: max-content;
    background-color: black;
    opacity: 0.55;
    color: white;
    
}


.cssButtonArrowBlack {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    overflow: hidden;
    border-radius: 5px;
    border: none;
    background-color: #272727;
    opacity: 0.7;
  }
  .cssButtonArrowBlack:hover {
    border-radius: 5px;
    padding-right: 24px;
    padding-left:8px;
  }
  .cssButtonArrowBlack:hover:after {
    opacity: 1;
    right: 10px;
  }
  .cssButtonArrowBlack:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    font-size: 20px;
    line-height: 40px;
    top: 0;
    right: -20px;
    transition: 0.4s;
  }