.divDivs{
    display: flex;
    flex-direction: column;
}

.divText{
    margin-top: 4%;
    height: 614px;
    width: 600px;
    margin-left: 34.4%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    border-radius: 5px;
    background-color: rgb(8, 14, 31);
    box-shadow:  -5px -2px 14px rgb(16, 50, 145), 5px 2px 14px rgb(16, 50, 145);
}

.text {
    color:rgb(255, 255, 255);
    background-color:rgb(4, 92, 121);
    border-radius: 8px;
    margin: 15px;
    padding: 8px;
    font-family: "MiFuente2";
    font-size: 20px;
    font-weight: bolder;
}

.img{
    margin-top: 20px;
    border: 1px solid rgb(188, 188, 188);
    border-radius: 12px;
}